body {
    background-color:rgb(246, 245, 245);
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    padding: 50px 300px 0 500px; 
    
}


p, li {
    font-size: 1.1rem;
    line-height: 1.5em;
    padding: 0 200px 0 0;
}

li {
    list-style: none; 
}

.projectTitle {
    font-weight: bold;
}
