body {
  background-color: #201b22;
  color: #e4e2e4;
}

.title-headers {
  font-size: 4rem;
  margin: 0;
}

.project-box {
  margin: 2rem 0;
  padding: 1rem;
  border-style: solid;
}

.projects {
  background-color: #f8f6eb;
  color: black;
  padding: 3rem;
  margin: 1rem;
  border-radius: 0.75rem;
}
