.mainBody {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width: 60rem;
  margin: 0 auto;
  padding: 1vw;
}

p,
li {
  font-size: 1.1rem;
  line-height: 1.5em;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

.projectTitle {
  font-weight: bold;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 30px;
}

/* .logo {
    
    
  } */
#douglas {
  height: 150px;
  width: 150px;
  float: right;
  margin: 0 0 0 10px;
  border-radius: 50%;
}

.buttonMain {
  -webkit-border-radius: 40px;
  background: #242e3a;
  color: #fff;
  padding: 20px 20px;
  margin: 0 20px 0 0;
  display: inline-flex;
  justify-content: space-around;
  width: 10%;
}

.icons {
  cursor: pointer;
  outline: none;
  font-size: 3em;
  color: #080a2df6;
  float: right;
  padding: 30px 10px;
}

.mainHeader {
  background-image: linear-gradient(
    90deg,
    #0fb4fb 0%,
    #b957b9 60%,
    #e700ad 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 790;
}

/* .footer {
  --footer-background: #000000;
  --footer-text-color: #ffffff;
  background: var(--footer-background);
  color: var(--footer-text-color);
  min-width: 1024px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 0rem -3rem -5rem -1rem;
  max-width: 100%;
} */

/* .footers {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
} */

.footerz {
  /* background: #f8f6eb; */
  color: white;
  height: 8rem;
  /* width: 100%; */
  display: flex;
  /* margin: 4em 0 0 0; */
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #00000035; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}

.introduction-blurb {
  margin-bottom: rem;
  margin-top: 1rem;
}
