body {
    background-color:rgb(246, 245, 245);
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    max-width: 600px;
    margin: 0 auto; 
    padding: 5vw;
}

p, li {
    font-size: 1.1rem;
    line-height: 1.5em;
}

li {
    list-style: none; 
}

.projectTitle {
    font-weight: bold;
}

a{
    text-decoration: none; 
}

h1 {
    font-size: 40px; 
}

.logo {
    height: 150px;
    width: 150px;
    pointer-events: none;
    background-image: url('/public/dp.jpg');
    background-size: cover;
    background-position: center;
  }
#Douglas {
    float: right;
    margin: 0 0 0 15px;
    border-radius: 50%;
}